.user-item
    background-color: #F2F2F2
    min-width: 200px
    width: 200px
    max-width: 200px !important
    min-height: 100px !important

    .title
        color: #4089FB
        font-weight: 600
        font-size: 22px

    .subtitle
        color: #666666
        font-weight: 300

.user-item.active
    border-color: #4089FB !important

.user-item:hover
    cursor: pointer